.pun {
  font-style: italic;
  font-weight: bold;
}

.title{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-me {
background-color: rgb(215,198,189);
Width: 730px;
display: block;
margin-left: 300px;
padding-left: 20px;
border: 2px solid white;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(215,198,189);
  border: 2px solid white;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 20px;
}

body {
  background-color: rgb(86,70,61);
}

.posts {
  background-color: rgb(215,198,189);
  text-align: center;
  display: block;
  margin-left: 300px;
  width: 750px;
}

.float-door {
  float:left;
  padding-right: 20px;
  padding-left: 20px;
}

.history{
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.column {
  background-color: rgb(215,198,189);
  width: 250px;
  height: 350px;
  float: left;
}

.door-events{
  width: 750px;
  padding-bottom: 50px;
}
